<md-bottom-sheet class="md-list md-has-header">

    <md-subheader>
          Visit <span class="name">{{vm.technology.name}}</span>:
    </md-subheader>

    <md-list>
      <md-list-item ng-repeat="item in vm.items">
        <md-button ng-click="vm.contactTechnology(item)">
          <md-icon md-svg-icon="{{ item.icon_url}}"></md-icon>
          {{item.name}}
        </md-button>
    </md-list>
    
</md-bottom-sheet>
