<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>AngularJS Material 1.1.3 Tour</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1" />
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
    <link rel="stylesheet" href="../node_modules/angular-material/angular-material.css"/>
    <link rel="stylesheet" href="assets/app.css"/>
  </head>
  <body ng-app="mdApp" ng-cloak layout="column" ng-controller="TechnologyController as tl">

    <md-toolbar layout="row" style="background-color:#ef5350">
      <md-button class="menu" hide-gt-sm ng-click="tl.toggleList()" aria-label="Show User List">
          <md-icon md-svg-icon="menu"></md-icon>
      </md-button>
          <h1>AngularJS Material Innovation Technology Tour</h1>
    </md-toolbar>

    <div flex layout="row">

        <md-sidenav md-is-locked-open="$mdMedia('gt-sm')" md-component-id="left"
         ng-click="tl.toggleList()">
          <md-list>
            <md-list-item ng-repeat="t in tl.technologies">
              <md-button ng-click="tl.selectTechnology(t)" ng-class="{'selected' : t === tl.selected}">
                <md-icon md-svg-icon="assets/images/{{t.avatar}}" class="avatar"></md-icon>
                {{t.name}}
              </md-button>
            </md-list-item>
          </md-list>
        </md-sidenav>

        <md-content flex id="content">
          <md-icon md-svg-icon="assets/images/{{tl.selected.avatar}}" class="avatar"></md-icon>
          <h2>{{tl.selected.name}}</h2>
          <p>
              {{tl.selected.content}}
          </p>
          <md-button class="share" md-no-ink ng-click="tl.makeContact(tl.selected)"
          aria-label="Share with {{tl.selected.name}}">
            <md-icon md-svg-icon="share"></md-icon>
          </md-button>
        </md-content>
    </div>
    <md-toolbar layout="row" style="background-color:#ef5350;">
      <p>Contribute with ❤ in
      <a href="https://github.com/angular/angular/blob/4106d181724567decde3a0a5288d09db34378f35/CONTRIBUTING.md" target="_blank">
        Angular
     </a>
     and
       <a href="https://github.com/angular/angular-cli/blob/b3ef6a4040e0972ad07464d81ce9b547dce79fe8/CONTRIBUTING.md" target="_blank">
         Angular CLI
      </a>
      read our documentation
      <a href="https://angular.io" target="_blank">here</a>
      get code on
      <a href="https://bitbucket.org/nilsholger/ng1-materialdesign-tour/src" target="_blank">Bitbucket</a>
      just for fun <a href="https://www.google.com/chromebook/" target="_blank">2017</a>
    </p>
  </md-toolbar>

    <script src="../node_modules/angular/angular.js"></script>
    <script src="../node_modules/angular-animate/angular-animate.js"></script>
    <script src="../node_modules/angular-aria/angular-aria.js"></script>
    <script src="../node_modules/angular-material/angular-material.js"></script>
    <script src="./src/technologies/Technologies.js"></script>
    <script src="./src/technologies/TechnologyController.js"></script>
    <script src="./src/technologies/TechnologyService.js"></script>

    <script>
        angular.module('mdApp', ['ngMaterial', 'technologies'])
              .config(function($mdThemingProvider, $mdIconProvider) {

                $mdThemingProvider.theme('default')
                    .primaryPalette('red')
                    .accentPalette('blue');

                $mdIconProvider.defaultIconSet("./assets/images/avatars.svg", 128)
                .icon("menu", "./assets/images/menu.svg", 24)
                .icon("share", "./assets/images/share.svg", 24)
                .icon("google_plus", "./assets/images/google_plus.svg", 512)
                .icon("hangouts", "./assets/images/hangouts.svg", 512)
                .icon("twitter", "./assets/images/twitter.svg", 512)
                .icon("phone", "./assets/images/phone.svg", 512);
              });
    </script>
  </body>
</html>
